USE [master]
GO
/****** Object:  Database [db69906]    Script Date: 10/2/2026 3:19:27 PM ******/
CREATE DATABASE [db69906]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db69906', FILENAME = N'D:\Services\MSSQL\Data\db69906.mdf' , SIZE = 8192KB , MAXSIZE = 1048576KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db69906_log', FILENAME = N'D:\Services\MSSQL\Data\db69906_log.ldf' , SIZE = 8192KB , MAXSIZE = 5242880KB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db69906].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db69906]
GO
/****** Object:  FullTextCatalog [db69906]    Script Date: 10/2/2026 3:19:33 PM ******/
CREATE FULLTEXT CATALOG [db69906] WITH ACCENT_SENSITIVITY = ON
AS DEFAULT
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 10/2/2026 3:19:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryTransactions]    Script Date: 10/2/2026 3:19:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryTransactions](
	[InventoryTransactionId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[TransactionType] [nvarchar](20) NOT NULL,
	[QuantityChange] [int] NOT NULL,
	[SaleId] [int] NULL,
	[PurchaseOrderId] [int] NULL,
	[Notes] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_InventoryTransactions] PRIMARY KEY CLUSTERED 
(
	[InventoryTransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 10/2/2026 3:19:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](150) NOT NULL,
	[Barcode] [nvarchar](50) NULL,
	[CategoryId] [int] NOT NULL,
	[SupplierId] [int] NULL,
	[CostPrice] [decimal](18, 2) NOT NULL,
	[SellingPrice] [decimal](18, 2) NOT NULL,
	[StockQuantity] [int] NOT NULL,
	[ReorderLevel] [int] NOT NULL,
	[ExpiryDate] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrderDetails]    Script Date: 10/2/2026 3:19:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrderDetails](
	[PurchaseOrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[PurchaseOrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitCost] [decimal](18, 2) NOT NULL,
	[LineSubtotal] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PurchaseOrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrders]    Script Date: 10/2/2026 3:19:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrders](
	[PurchaseOrderId] [int] IDENTITY(1,1) NOT NULL,
	[SupplierId] [int] NOT NULL,
	[CreatedByUserId] [int] NOT NULL,
	[PurchaseDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
	[DiscountAmount] [decimal](18, 2) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PurchaseOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SaleDetails]    Script Date: 10/2/2026 3:19:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleDetails](
	[SaleDetailId] [int] IDENTITY(1,1) NOT NULL,
	[SaleId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[DiscountAmount] [decimal](18, 2) NOT NULL,
	[LineSubtotal] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SaleDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 10/2/2026 3:19:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[SaleId] [int] IDENTITY(1,1) NOT NULL,
	[CashierUserId] [int] NOT NULL,
	[SaleDate] [datetime2](7) NOT NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
	[DiscountAmount] [decimal](18, 2) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[PaymentMethod] [nvarchar](20) NOT NULL,
	[AmountReceived] [decimal](18, 2) NULL,
	[ChangeAmount] [decimal](18, 2) NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SaleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 10/2/2026 3:19:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierId] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](30) NULL,
	[Email] [nvarchar](150) NULL,
	[Address] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 10/2/2026 3:19:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [Description], [IsActive], [CreatedAt]) VALUES (1, N'Drinks', NULL, 1, CAST(N'2026-09-25T10:55:19.8610302' AS DateTime2))
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [Description], [IsActive], [CreatedAt]) VALUES (2, N'Snacks', NULL, 1, CAST(N'2026-09-25T10:55:19.8610302' AS DateTime2))
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [Description], [IsActive], [CreatedAt]) VALUES (3, N'Food', NULL, 1, CAST(N'2026-09-25T10:55:19.8610302' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryTransactions] ON 

INSERT [dbo].[InventoryTransactions] ([InventoryTransactionId], [ProductId], [UserId], [TransactionType], [QuantityChange], [SaleId], [PurchaseOrderId], [Notes], [CreatedAt]) VALUES (3, 2, 6, N'Adjustment', 10, NULL, NULL, N'Initial stock from product editor', CAST(N'2026-09-26T07:20:23.5987212' AS DateTime2))
INSERT [dbo].[InventoryTransactions] ([InventoryTransactionId], [ProductId], [UserId], [TransactionType], [QuantityChange], [SaleId], [PurchaseOrderId], [Notes], [CreatedAt]) VALUES (4, 2, 6, N'Sale', -1, 2, NULL, N'POS sale completed', CAST(N'2026-09-26T07:20:42.8182056' AS DateTime2))
INSERT [dbo].[InventoryTransactions] ([InventoryTransactionId], [ProductId], [UserId], [TransactionType], [QuantityChange], [SaleId], [PurchaseOrderId], [Notes], [CreatedAt]) VALUES (5, 3, 8, N'Adjustment', 1000, NULL, NULL, N'Initial stock from product editor', CAST(N'2026-09-28T14:03:59.8309226' AS DateTime2))
SET IDENTITY_INSERT [dbo].[InventoryTransactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [ProductName], [Barcode], [CategoryId], [SupplierId], [CostPrice], [SellingPrice], [StockQuantity], [ReorderLevel], [ExpiryDate], [IsActive], [CreatedAt]) VALUES (2, N'Coca Cola 330ml', N'8801234567', 1, NULL, CAST(0.50 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), 5, 5, CAST(N'2026-09-27T00:00:00.0000000' AS DateTime2), 1, CAST(N'2026-09-26T07:20:23.3848238' AS DateTime2))
INSERT [dbo].[Products] ([ProductId], [ProductName], [Barcode], [CategoryId], [SupplierId], [CostPrice], [SellingPrice], [StockQuantity], [ReorderLevel], [ExpiryDate], [IsActive], [CreatedAt]) VALUES (3, N'Sting Energy Drink 330ml', NULL, 1, NULL, CAST(100.00 AS Decimal(18, 2)), CAST(1.50 AS Decimal(18, 2)), 1000, 0, CAST(N'2027-04-23T00:00:00.0000000' AS DateTime2), 1, CAST(N'2026-09-28T14:03:59.4372846' AS DateTime2))
INSERT [dbo].[Products] ([ProductId], [ProductName], [Barcode], [CategoryId], [SupplierId], [CostPrice], [SellingPrice], [StockQuantity], [ReorderLevel], [ExpiryDate], [IsActive], [CreatedAt]) VALUES (4, N'Pepsi 330ml', N'81772662', 1, NULL, CAST(100.00 AS Decimal(18, 2)), CAST(1.70 AS Decimal(18, 2)), 200, 5, NULL, 1, CAST(N'2026-09-29T02:32:26.4709194' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[SaleDetails] ON 

INSERT [dbo].[SaleDetails] ([SaleDetailId], [SaleId], [ProductId], [Quantity], [UnitPrice], [DiscountAmount], [LineSubtotal]) VALUES (2, 2, 2, 1, CAST(1.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)))
INSERT [dbo].[SaleDetails] ([SaleDetailId], [SaleId], [ProductId], [Quantity], [UnitPrice], [DiscountAmount], [LineSubtotal]) VALUES (3, 3, 2, 1, CAST(1.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[SaleDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Sales] ON 

INSERT [dbo].[Sales] ([SaleId], [CashierUserId], [SaleDate], [Subtotal], [DiscountAmount], [TotalAmount], [PaymentMethod], [AmountReceived], [ChangeAmount], [Status]) VALUES (2, 6, CAST(N'2026-09-26T14:20:41.2440054' AS DateTime2), CAST(1.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), N'QRCode', NULL, NULL, N'Completed')
INSERT [dbo].[Sales] ([SaleId], [CashierUserId], [SaleDate], [Subtotal], [DiscountAmount], [TotalAmount], [PaymentMethod], [AmountReceived], [ChangeAmount], [Status]) VALUES (3, 8, CAST(N'2026-10-01T19:46:07.9127362' AS DateTime2), CAST(1.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), N'Cash', CAST(1.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'Completed')
SET IDENTITY_INSERT [dbo].[Sales] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([UserId], [Username], [PasswordHash], [Role], [IsActive], [CreatedAt], [UpdatedAt], [FullName]) VALUES (1, N'phoeurk', N'$2a$11$KnCWeNv/NbiGgIwV3n.jw.gnmr4F8e9pWdzkLNyEQjXzEyJoCzQwC', N'Cashier', 1, CAST(N'2026-09-24T11:58:26.9100000' AS DateTime2), CAST(N'2026-09-30T01:57:23.3718508' AS DateTime2), N'Bro Y')
INSERT [dbo].[users] ([UserId], [Username], [PasswordHash], [Role], [IsActive], [CreatedAt], [UpdatedAt], [FullName]) VALUES (3, N'neng', N'$2b$12$s2vndYuma3ml1x03PvXUnO5.vTdo0PvyaYkGhWI.RDgdoYG06sh1a', N'Cashier', 1, CAST(N'2026-09-24T12:03:28.4600000' AS DateTime2), CAST(N'2026-09-30T01:56:35.1480212' AS DateTime2), N'Neng Neng')
INSERT [dbo].[users] ([UserId], [Username], [PasswordHash], [Role], [IsActive], [CreatedAt], [UpdatedAt], [FullName]) VALUES (4, N'ravy', N'$2a$11$PIMsa3vp.bHDtpO4RV3kyuw79P/FDJYpbzgtTU9uXradfk2KeljGy', N'Cashier', 1, CAST(N'2026-09-24T12:11:38.2933333' AS DateTime2), CAST(N'2026-09-30T01:57:10.8924668' AS DateTime2), N'Vy Vy')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Categories_CategoryName]    Script Date: 10/2/2026 3:19:37 PM ******/
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [UQ_Categories_CategoryName] UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryTransactions_Product_Created]    Script Date: 10/2/2026 3:19:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_InventoryTransactions_Product_Created] ON [dbo].[InventoryTransactions]
(
	[ProductId] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryTransactions_PurchaseOrder]    Script Date: 10/2/2026 3:19:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_InventoryTransactions_PurchaseOrder] ON [dbo].[InventoryTransactions]
(
	[PurchaseOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryTransactions_Sale]    Script Date: 10/2/2026 3:19:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_InventoryTransactions_Sale] ON [dbo].[InventoryTransactions]
(
	[SaleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Products_Barcode]    Script Date: 10/2/2026 3:19:37 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Products_Barcode] ON [dbo].[Products]
(
	[Barcode] ASC
)
WHERE ([Barcode] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_users_Username]    Script Date: 10/2/2026 3:19:37 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_users_Username] ON [dbo].[users]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[InventoryTransactions] ADD  CONSTRAINT [DF_InventoryTransactions_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [CostPrice]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [SellingPrice]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [StockQuantity]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [ReorderLevel]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  DEFAULT (sysdatetime()) FOR [PurchaseDate]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  DEFAULT ('Draft') FOR [Status]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  DEFAULT ((0)) FOR [Subtotal]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[SaleDetails] ADD  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[Sales] ADD  DEFAULT (sysdatetime()) FOR [SaleDate]
GO
ALTER TABLE [dbo].[Sales] ADD  DEFAULT ((0)) FOR [Subtotal]
GO
ALTER TABLE [dbo].[Sales] ADD  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[Sales] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Sales] ADD  DEFAULT ('Completed') FOR [Status]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('') FOR [FullName]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_InventoryTransactions_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [FK_InventoryTransactions_Products]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_InventoryTransactions_PurchaseOrders] FOREIGN KEY([PurchaseOrderId])
REFERENCES [dbo].[PurchaseOrders] ([PurchaseOrderId])
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [FK_InventoryTransactions_PurchaseOrders]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_InventoryTransactions_Sales] FOREIGN KEY([SaleId])
REFERENCES [dbo].[Sales] ([SaleId])
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [FK_InventoryTransactions_Sales]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_InventoryTransactions_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[users] ([UserId])
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [FK_InventoryTransactions_Users]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Suppliers] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([SupplierId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Suppliers]
GO
ALTER TABLE [dbo].[PurchaseOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrderDetails_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[PurchaseOrderDetails] CHECK CONSTRAINT [FK_PurchaseOrderDetails_Products]
GO
ALTER TABLE [dbo].[PurchaseOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrderDetails_PurchaseOrders] FOREIGN KEY([PurchaseOrderId])
REFERENCES [dbo].[PurchaseOrders] ([PurchaseOrderId])
GO
ALTER TABLE [dbo].[PurchaseOrderDetails] CHECK CONSTRAINT [FK_PurchaseOrderDetails_PurchaseOrders]
GO
ALTER TABLE [dbo].[PurchaseOrders]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrders_Suppliers] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([SupplierId])
GO
ALTER TABLE [dbo].[PurchaseOrders] CHECK CONSTRAINT [FK_PurchaseOrders_Suppliers]
GO
ALTER TABLE [dbo].[PurchaseOrders]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrders_Users] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[users] ([UserId])
GO
ALTER TABLE [dbo].[PurchaseOrders] CHECK CONSTRAINT [FK_PurchaseOrders_Users]
GO
ALTER TABLE [dbo].[SaleDetails]  WITH CHECK ADD  CONSTRAINT [FK_SaleDetails_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[SaleDetails] CHECK CONSTRAINT [FK_SaleDetails_Products]
GO
ALTER TABLE [dbo].[SaleDetails]  WITH CHECK ADD  CONSTRAINT [FK_SaleDetails_Sales] FOREIGN KEY([SaleId])
REFERENCES [dbo].[Sales] ([SaleId])
GO
ALTER TABLE [dbo].[SaleDetails] CHECK CONSTRAINT [FK_SaleDetails_Sales]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Users] FOREIGN KEY([CashierUserId])
REFERENCES [dbo].[users] ([UserId])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Users]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [CK_InventoryTransactions_Quantity] CHECK  (([QuantityChange]<>(0)))
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [CK_InventoryTransactions_Quantity]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [CK_InventoryTransactions_Type] CHECK  (([TransactionType]='Adjustment' OR [TransactionType]='Return' OR [TransactionType]='Sale' OR [TransactionType]='Purchase'))
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [CK_InventoryTransactions_Type]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK_Products_CostPrice] CHECK  (([CostPrice]>=(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Products_CostPrice]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK_Products_ReorderLevel] CHECK  (([ReorderLevel]>=(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Products_ReorderLevel]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK_Products_SellingPrice] CHECK  (([SellingPrice]>=(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Products_SellingPrice]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK_Products_StockQuantity] CHECK  (([StockQuantity]>=(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Products_StockQuantity]
GO
ALTER TABLE [dbo].[PurchaseOrderDetails]  WITH CHECK ADD  CONSTRAINT [CK_PurchaseOrderDetails_LineSubtotal] CHECK  (([LineSubtotal]>=(0)))
GO
ALTER TABLE [dbo].[PurchaseOrderDetails] CHECK CONSTRAINT [CK_PurchaseOrderDetails_LineSubtotal]
GO
ALTER TABLE [dbo].[PurchaseOrderDetails]  WITH CHECK ADD  CONSTRAINT [CK_PurchaseOrderDetails_Quantity] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[PurchaseOrderDetails] CHECK CONSTRAINT [CK_PurchaseOrderDetails_Quantity]
GO
ALTER TABLE [dbo].[PurchaseOrderDetails]  WITH CHECK ADD  CONSTRAINT [CK_PurchaseOrderDetails_UnitCost] CHECK  (([UnitCost]>=(0)))
GO
ALTER TABLE [dbo].[PurchaseOrderDetails] CHECK CONSTRAINT [CK_PurchaseOrderDetails_UnitCost]
GO
ALTER TABLE [dbo].[PurchaseOrders]  WITH CHECK ADD  CONSTRAINT [CK_PurchaseOrders_DiscountAmount] CHECK  (([DiscountAmount]>=(0)))
GO
ALTER TABLE [dbo].[PurchaseOrders] CHECK CONSTRAINT [CK_PurchaseOrders_DiscountAmount]
GO
ALTER TABLE [dbo].[PurchaseOrders]  WITH CHECK ADD  CONSTRAINT [CK_PurchaseOrders_Status] CHECK  (([Status]='Cancelled' OR [Status]='Received' OR [Status]='Draft'))
GO
ALTER TABLE [dbo].[PurchaseOrders] CHECK CONSTRAINT [CK_PurchaseOrders_Status]
GO
ALTER TABLE [dbo].[PurchaseOrders]  WITH CHECK ADD  CONSTRAINT [CK_PurchaseOrders_Subtotal] CHECK  (([Subtotal]>=(0)))
GO
ALTER TABLE [dbo].[PurchaseOrders] CHECK CONSTRAINT [CK_PurchaseOrders_Subtotal]
GO
ALTER TABLE [dbo].[PurchaseOrders]  WITH CHECK ADD  CONSTRAINT [CK_PurchaseOrders_TotalAmount] CHECK  (([TotalAmount]>=(0)))
GO
ALTER TABLE [dbo].[PurchaseOrders] CHECK CONSTRAINT [CK_PurchaseOrders_TotalAmount]
GO
ALTER TABLE [dbo].[SaleDetails]  WITH CHECK ADD  CONSTRAINT [CK_SaleDetails_DiscountAmount] CHECK  (([DiscountAmount]>=(0)))
GO
ALTER TABLE [dbo].[SaleDetails] CHECK CONSTRAINT [CK_SaleDetails_DiscountAmount]
GO
ALTER TABLE [dbo].[SaleDetails]  WITH CHECK ADD  CONSTRAINT [CK_SaleDetails_LineSubtotal] CHECK  (([LineSubtotal]>=(0)))
GO
ALTER TABLE [dbo].[SaleDetails] CHECK CONSTRAINT [CK_SaleDetails_LineSubtotal]
GO
ALTER TABLE [dbo].[SaleDetails]  WITH CHECK ADD  CONSTRAINT [CK_SaleDetails_Quantity] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[SaleDetails] CHECK CONSTRAINT [CK_SaleDetails_Quantity]
GO
ALTER TABLE [dbo].[SaleDetails]  WITH CHECK ADD  CONSTRAINT [CK_SaleDetails_UnitPrice] CHECK  (([UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[SaleDetails] CHECK CONSTRAINT [CK_SaleDetails_UnitPrice]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [CK_Sales_DiscountAmount] CHECK  (([DiscountAmount]>=(0)))
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [CK_Sales_DiscountAmount]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [CK_Sales_PaymentMethod] CHECK  (([PaymentMethod]='QRCode' OR [PaymentMethod]='Cash'))
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [CK_Sales_PaymentMethod]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [CK_Sales_Status] CHECK  (([Status]='Refunded' OR [Status]='Cancelled' OR [Status]='Completed'))
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [CK_Sales_Status]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [CK_Sales_Subtotal] CHECK  (([Subtotal]>=(0)))
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [CK_Sales_Subtotal]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [CK_Sales_TotalAmount] CHECK  (([TotalAmount]>=(0)))
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [CK_Sales_TotalAmount]
GO
USE [master]
GO
